name: tests

on:
  push:
    branches:
      - master
  pull_request: null

jobs:
  tests:
    name: tests
    strategy:
      matrix:
        pyver: [2.7, 3.8, 3.9]

    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.pyver }}
          channels: conda-forge
          channel-priority: strict
          show-channel-urls: true

      - name: configure conda and install code
        shell: bash -l {0}
        run: |
          conda config --set always_yes yes
          conda install -q mamba

          mamba install -q flake8 pytest scipy

          pip install --no-deps -e .

      - name: lint
        shell: bash -l {0}
        run: |
          flake8 esutil

      - name: test
        shell: bash -l {0}
        run: |
          pytest -vv esutil
